## How to Convert the column type from string to datetime format in Pandas DataFrame

While working with data in Pandas, it is not an unusual thing to encounter time series data and we know Pandas is a very useful tool for working with time series data in python.

In [1]:
# importing pandas as pd 
import pandas as pd

In [2]:
# Creating the dataframe
df=pd.DataFrame({'Date1':['2020-12-01','2020-12-02','2020-12-03','2020-12-04','2020-12-05'],
                 'Date2':['201201','201202','201203','201204','201205'],
                 'Store':['A1','B1','E2','C1','D1'],
                 'Sales':[2000,4000,5000,2000,6000]})

In [3]:
# Print the dataframe
df

        Date1   Date2 Store  Sales
0  2020-12-01  201201    A1   2000
1  2020-12-02  201202    B1   4000
2  2020-12-03  201203    E2   5000
3  2020-12-04  201204    C1   2000
4  2020-12-05  201205    D1   6000

In [4]:
# Now we will check the data type  
# of the 'Date' column
df.dtypes

Date1    object
Date2    object
Store    object
Sales     int64
dtype: object

In [ ]:
# to_datetime function use to convert datetime datatype

In [5]:
# convert the 'Date1' column to datetime format
df['Date11']=pd.to_datetime(df.Date1)
#or
#df['Date13'] = df['Date1'].astype('datetime64[ns]')

In [6]:
df

        Date1   Date2 Store  Sales     Date11
0  2020-12-01  201201    A1   2000 2020-12-01
1  2020-12-02  201202    B1   4000 2020-12-02
2  2020-12-03  201203    E2   5000 2020-12-03
3  2020-12-04  201204    C1   2000 2020-12-04
4  2020-12-05  201205    D1   6000 2020-12-05

In [7]:
# Check the format of 'Date' column
df.dtypes

Date1             object
Date2             object
Store             object
Sales              int64
Date11    datetime64[ns]
dtype: object

In [8]:
df['Date13'] = df['Date1'].astype('datetime64[ns]')

In [9]:
df

        Date1   Date2 Store  Sales     Date11     Date13
0  2020-12-01  201201    A1   2000 2020-12-01 2020-12-01
1  2020-12-02  201202    B1   4000 2020-12-02 2020-12-02
2  2020-12-03  201203    E2   5000 2020-12-03 2020-12-03
3  2020-12-04  201204    C1   2000 2020-12-04 2020-12-04
4  2020-12-05  201205    D1   6000 2020-12-05 2020-12-05

In [10]:
df.dtypes

Date1             object
Date2             object
Store             object
Sales              int64
Date11    datetime64[ns]
Date13    datetime64[ns]
dtype: object

In [13]:
# convert the 'Date2' column to datetime format
df['Date22']=pd.to_datetime(df.Date2,format='%y%m%d')

In [14]:
df

        Date1   Date2 Store  Sales     Date11     Date13     Date22
0  2020-12-01  201201    A1   2000 2020-12-01 2020-12-01 2020-12-01
1  2020-12-02  201202    B1   4000 2020-12-02 2020-12-02 2020-12-02
2  2020-12-03  201203    E2   5000 2020-12-03 2020-12-03 2020-12-03
3  2020-12-04  201204    C1   2000 2020-12-04 2020-12-04 2020-12-04
4  2020-12-05  201205    D1   6000 2020-12-05 2020-12-05 2020-12-05

In [15]:
df

        Date1   Date2 Store  Sales     Date11     Date13     Date22
0  2020-12-01  201201    A1   2000 2020-12-01 2020-12-01 2020-12-01
1  2020-12-02  201202    B1   4000 2020-12-02 2020-12-02 2020-12-02
2  2020-12-03  201203    E2   5000 2020-12-03 2020-12-03 2020-12-03
3  2020-12-04  201204    C1   2000 2020-12-04 2020-12-04 2020-12-04
4  2020-12-05  201205    D1   6000 2020-12-05 2020-12-05 2020-12-05

In [16]:
# Check the format of 'Date' column
df.dtypes

Date1             object
Date2             object
Store             object
Sales              int64
Date11    datetime64[ns]
Date13    datetime64[ns]
Date22    datetime64[ns]
dtype: object

## Date Formating

- **Code:	Meaning	          .....    Example** <br>
- %A : Weekday as locale’s full name.  ......
[ Wednesday] <br>
- %a :	Weekday as locale’s abbreviated name.	.....[Wed]<br>
- %B:	Month as locale’s full name.	......[June]<br>
- %d:	Day of the month.	......[06]<br>
- %m:	Month as a number.	.....[6]<br>
- %Y:	Four-digit year.	......[2018]<br>
- %y:	Two-digit year.	......[18]<br>

In [17]:
import datetime as dt

In [18]:
df

        Date1   Date2 Store  Sales     Date11     Date13     Date22
0  2020-12-01  201201    A1   2000 2020-12-01 2020-12-01 2020-12-01
1  2020-12-02  201202    B1   4000 2020-12-02 2020-12-02 2020-12-02
2  2020-12-03  201203    E2   5000 2020-12-03 2020-12-03 2020-12-03
3  2020-12-04  201204    C1   2000 2020-12-04 2020-12-04 2020-12-04
4  2020-12-05  201205    D1   6000 2020-12-05 2020-12-05 2020-12-05

In [24]:
df['date112']=df.Date11.dt.strftime("%Y")

In [25]:
df

        Date1   Date2 Store  Sales     Date11     Date13     Date22 date112
0  2020-12-01  201201    A1   2000 2020-12-01 2020-12-01 2020-12-01    2020
1  2020-12-02  201202    B1   4000 2020-12-02 2020-12-02 2020-12-02    2020
2  2020-12-03  201203    E2   5000 2020-12-03 2020-12-03 2020-12-03    2020
3  2020-12-04  201204    C1   2000 2020-12-04 2020-12-04 2020-12-04    2020
4  2020-12-05  201205    D1   6000 2020-12-05 2020-12-05 2020-12-05    2020